@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Noto+Color+Emoji&display=swap");
.header-home {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 280px;
  padding-top: 14px;
  padding-bottom: 23px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 65.37%), url(../images/header-image/header-home-mob@1x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header-home {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 65.37%), url(../images/header-image/header-home-mob@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .header-home {
    max-width: 704px;
    padding-top: 8px;
    padding-bottom: 20px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 65.37%), url(../images/header-image/header-home-tab@1x.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header-home {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 65.37%), url(../images/header-image/header-home-tab@2x.png);
  }
}
@media screen and (min-width: 1280px) {
  .header-home {
    max-width: 1216px;
    padding-bottom: 40px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 65.37%), url(../images/header-image/header-home-des@1x.png);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .header-home {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 65.37%), url(../images/header-image/header-home-des@2x.png);
  }
}

.header-home__wrapper {
  margin-bottom: 312px;
}
@media screen and (min-width: 768px) {
  .header-home__wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 105px;
    margin-left: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .header-home__wrapper {
    margin-bottom: 151px;
  }
}

.home-nav__list {
  display: flex;
  gap: 4px;
  align-items: center;
  list-style: none;
  padding-left: 0;
}

.home-nav__item:last-child {
  margin-left: auto;
}

@media screen and (max-width: 768px) {
  .home-nav__item:last-child {
    margin-left: 0;
  }
  .home-nav__item:first-child {
    margin-left: 14px;
  }
}
.home-nav__btn,
.auth-btn {
  display: block;
  background-color: #ffffff;
  color: #000000;
  border-color: transparent;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1666666667;
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  color: #000000;
  cursor: pointer;
  text-decoration: none;
}

.home-nav__btn:hover,
.auth-btn:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.home-nav__btn--home {
  padding: 10px 26px;
  border-radius: 100px;
}
@media screen and (min-width: 768px) {
  .home-nav__btn--home {
    padding: 12px 20px;
  }
}
@media screen and (min-width: 1280px) {
  .home-nav__btn--home {
    padding: 14px 32px;
  }
}

.home-nav__btn--library {
  padding: 10px 22px;
  border-radius: 100px;
}
@media screen and (min-width: 768px) {
  .home-nav__btn--library {
    padding: 12px 20px;
  }
}
@media screen and (min-width: 1280px) {
  .home-nav__btn--library {
    padding: 14px 24px;
  }
}

.auth-btn--modal {
  display: flex;
  align-items: center;
  padding: 7px 7px;
  border-radius: 14px;
}
@media screen and (min-width: 768px) {
  .auth-btn--modal {
    padding: 9px 20px;
    border-radius: 22px;
  }
}
@media screen and (min-width: 1280px) {
  .auth-btn--modal {
    padding: 12px 24px;
  }
}

.btn--active {
  background-color: #000000;
  color: #ffffff;
}

.header-form {
  position: relative;
  width: 252px;
  margin-left: 14px;
}
@media screen and (min-width: 768px) {
  .header-form {
    width: 165px;
    margin-right: 4px;
  }
}
@media screen and (min-width: 1280px) {
  .header-form {
    width: 187px;
    margin-right: 8px;
  }
}
.header-form__input {
  width: 100%;
  height: 34px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 100px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  padding-left: 14px;
}
@media screen and (min-width: 768px) {
  .header-form__input {
    height: 38px;
    font-size: 14px;
    line-height: 1.1428571429;
  }
}
@media screen and (min-width: 1280px) {
  .header-form__input {
    height: 42px;
  }
}
.header-form__btn {
  position: absolute;
  display: flex;
  align-items: center;
  top: 8px;
  right: 12px;
  stroke: black;
  fill: none;
  background: 0 0;
  border: none;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .header-form__btn {
    top: 18px;
  }
}
@media screen and (min-width: 1280px) {
  .header-form__btn {
    top: 20px;
  }
}
.header-form__icon {
  width: 14px;
  height: 14px;
}
@media screen and (min-width: 768px) {
  .header-form__icon {
    width: 16px;
    height: 16px;
  }
}

.header-form__search {
  margin-top: 8px;
  margin-bottom: 8px;
}

.header-form__btn:hover {
  transform: scale(1.2);
}

.header-form__input:focus {
  border: 2px solid black;
  outline: black;
  box-shadow: 0 3px 10px black;
}

.header-logo {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .header-logo {
    justify-content: flex-start;
  }
}
.header-logo__link {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.header-logo__film {
  width: 32px;
  height: 32px;
  animation: icon-logo 5s ease infinite;
  stroke: #ffffff;
}
@media screen and (min-width: 768px) {
  .header-logo__film {
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .header-logo__film {
    width: 59px;
    height: 59px;
  }
}
.header-logo__name {
  display: inline-block;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.1875;
  padding-left: 10px;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .header-logo__name {
    font-size: 40px;
    line-height: 1.175;
  }
}
@media screen and (min-width: 1280px) {
  .header-logo__name {
    font-size: 64px;
    line-height: 1.171875;
  }
}

.header-logo__link:hover {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), 0 0 black, 1px 1px 5px black;
}

.header-home-warning {
  position: absolute;
  color: transparent;
  font-size: 10px;
  line-height: 1.2;
  padding: 0 0 0 21px;
}

@keyframes icon-logo {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.galleryPopular {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.div-poster {
  transition: transform 0.3s;
}

.div-poster:hover {
  transform: scale(1.05);
}

.poster-card {
  width: 395px;
  height: 574px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.poster-card img {
  width: 100%;
  height: auto;
}

.info {
  padding: 10px;
  margin-top: -10px;
}

.info-title {
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 8px;
  margin-top: -4px;
}

.info-genre-year {
  color: #b92f2c;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-top: -8px;
}

.cards-modal-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.cards-modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 800px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
}

.cards-modal-close-button {
  color: #aaa;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 2px;
  right: 10px;
}

.cards-modal-close-button:hover,
.cards-modal-close-button:focus {
  color: #b92f2c;
  text-decoration: none;
}

.cards-modal-poster-card {
  max-width: 40%;
  border-radius: 10px;
  margin-right: 20px;
}

.cards-modal-div-info {
  text-align: left;
  width: 100%;
}

.cards-modal-details {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.cards-modal-details span.label {
  color: #8c8c8c;
  margin-bottom: 2px;
}

.cards-modal-details span.value {
  font-size: 16px;
  font-weight: bold;
  width: -moz-fit-content;
  width: fit-content;
}

.cards-modal-details span.value:hover {
  background: #b92f2c;
  color: white;
}

.cards-modal-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  color: #000;
}

.cards-modal-about {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.cards-modal-about .label {
  font-size: 16px;
  color: gray;
  font-weight: bold;
  margin-bottom: 5px;
}

.cards-modal-about .value {
  font-size: 14px;
  line-height: 1.5;
  color: #000;
}

.cards-modal-buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.cards-modal-button {
  color: #b92f2c;
  background-color: white;
  text-align: center;
  line-height: normal;
  display: flex;
  padding: 14px 24px;
  align-items: flex-start;
  gap: 10px;
  font-size: 12px;
  font-weight: 500;
  border: 1px solid #000;
  border-radius: 100px;
  cursor: pointer;
}

.cards-modal-button.watch:hover {
  background-color: #b92f2c;
  border: none;
  color: white;
  padding: 14px 32px;
}

.cards-modal-button.queue:hover {
  background-color: #b92f2c;
  border: none;
  color: white;
  padding: 14px 32px;
}

.cards-modal-button.remove {
  background-color: #b92f2c;
  color: white;
}

@media (max-width: 600px) {
  .cards-modal-content {
    width: 90%;
    flex-direction: column;
    align-items: center;
  }
  .cards-modal-poster-card {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

.backdrop {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

.container-pagination {
  background-color: #ffffff;
  padding: 2rem 1rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.pagination {
  width: 100%;
  padding: 0 1rem;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}
.pagination:not(:has(.page-btn:target)) .page-step[data-shown="1"] {
  display: inline-flex;
}
.pagination:not(:has(.page-btn:target)) #page-1 {
  color: #ffffff;
  background-color: #b92f2c;
}

.page-btn {
  color: #000000;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.25rem;
  display: inline-flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.page-btn:last-child {
  margin-right: 0;
}
.page-btn:is(a) {
  text-decoration: none;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: color 128ms ease-out, background-color 128ms ease-out;
}
.page-btn:is(a):not(:target):hover, .page-btn:is(a):not(:target):focus, .page-btn:is(a):not(:target):active {
  background-color: #dfdfdf;
}
.page-btn:is(a):target {
  color: #ffffff;
  background-color: #b92f2c;
}

.page-num {
  display: none;
}

.page-step {
  display: none;
}

.container-pagination:has(#page-1:target) .page-step[data-shown="1"] {
  display: inline-flex;
}

.container-pagination:has(#page-2:target) .page-step[data-shown="2"] {
  display: inline-flex;
}

.container-pagination:has(#page-3:target) .page-step[data-shown="3"] {
  display: inline-flex;
}

.container-pagination:has(#page-4:target) .page-step[data-shown="4"] {
  display: inline-flex;
}

.container-pagination:has(#page-5:target) .page-step[data-shown="5"] {
  display: inline-flex;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 28px 0;
  align-items: baseline;
  background-color: #f7f7f7;
}
.footer__container {
  display: contents;
  flex-direction: column;
  flex: 0 1 320px;
}
.footer__text {
  color: #545454;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.students-link {
  text-decoration: underline;
  color: #545454;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.students-link:hover {
  cursor: pointer;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon-Group {
  width: 1.0771484375em;
}

.svg-close {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5); /* Fundal semitransparent */
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.modal-content {
  width: 40%;
  background-color: #212529; /* Fundal negru */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modal-header {
  color: #ffc107; /* Text portocaliu */
  margin-bottom: 15px;
}

.modal-header:hover {
  filter: drop-shadow(0 0 0.75rem #ffc107);
}

.modal-list {
  list-style: none;
  padding: 0;
}

.inlink {
  color: #ffc107; /* Linkuri portocalii */
  text-decoration: none;
}

.inlink:hover {
  filter: drop-shadow(0 0 0.75rem #ffc107);
}

.inlink svg {
  fill: #ffc107; /* Iconițe portocalii */
}

.close {
  background: none;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.close:hover {
  filter: drop-shadow(0 0 0.75rem #ffc107);
}

.svg-close {
  fill: #ffc107; /* Iconiță de închidere portocalie */
}

@media screen and (max-width: 768px) {
  .footer__container {
    display: block;
    margin-left: 65px;
  }
  .rights-reserved {
    margin-left: 23px;
  }
}/*# sourceMappingURL=home.css.map */