@charset "UTF-8";
@keyframes icon-logo {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* General */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  width: 46px;
  height: 46px;
  margin-right: 6px;
  animation: icon-logo 5s infinite;
}

.logo-text {
  color: #fff;
  position: absolute;
  font-family: Roboto;
  font-size: 64px;
  font-weight: 500;
  line-height: 75px;
  text-align: center;
  z-index: 2;
  top: 217px;
  left: 32px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.nav-left {
  display: flex;
  position: absolute;
  left: 32px;
  top: 16px;
  z-index: 3;
}

.nav-right {
  display: flex;
  position: absolute;
  right: 32px;
  top: 16px;
  z-index: 3;
}

.home-btn,
.library-btn,
.watched-btn,
.queue-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 117px;
  height: 42px;
  padding: 14px 24px;
  margin-right: 10px;
  border-radius: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14.06px;
  text-align: center;
  border: none;
  cursor: pointer;
}

.home-btn:hover {
  transition: transform 0.3s ease-out;
  transform: scale(1.05);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.library-btn:hover {
  transition: transform 0.3s ease-out;
  transform: scale(1.05);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.watched-btn:hover {
  transition: transform 0.3s ease-out;
  transform: scale(1.05);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.queue-btn:hover {
  transition: transform 0.3s ease-out;
  transform: scale(1.05);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.home-btn {
  background-color: #fff;
  color: #000;
}

.library-btn {
  background-color: #000;
  color: #fff;
}

.watched-btn {
  background-color: #b92f2c;
  color: #fff;
}

.queue-btn {
  background-color: #fff;
  color: #b92f2c;
}

.carousel {
  position: relative;
  margin: 32px;
  height: 316px;
}

.carousel-img {
  display: none;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel-img.active {
  display: block;
}

@media (max-width: 768px) {
  .carousel-img.active {
    display: none;
  }
}
.header-yellow,
.header-orange {
  width: 100%;
  height: 316px;
  border-radius: 15px;
  background: linear-gradient(274deg, rgba(0, 0, 0, 0.49) -2.09%, rgba(0, 0, 0, 0) 99.83%), lightgray 0px -194px/100% 216.456% no-repeat;
}

.header-red {
  width: 100%;
  height: 316px;
  border-radius: 15px;
  background: linear-gradient(274deg, rgba(0, 0, 0, 0.49) -2.09%, rgba(0, 0, 0, 0) 99.83%), lightgray 0px -194px/100% 216.456% no-repeat;
  transform: scaleX(-1);
}

.theme-toggle-btn {
  position: absolute;
  top: -32px;
  left: -31px;
  height: 25px;
  width: 55px;
  border-radius: 25%;
  z-index: 3;
}

/* Media Queries */
@media (max-width: 768px) {
  .logo {
    width: 32px;
    height: 32px;
  }
  .logo-text {
    display: flex;
    top: 351px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: 500;
    line-height: normal;
  }
}
@media (max-width: 768px) {
  .nav-right {
    left: 44px;
    top: 402px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    display: flex;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .carousel {
    border-radius: 10px;
    width: auto;
    height: 460px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 65.37%), url(../images/header-image/image-red-responsive.png) lightgray center center/auto no-repeat;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 65.37%), url(../images/header-image/image-orange-responsive.png) lightgray center center/auto no-repeat;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 65.37%), url(../images/header-image/image-yellow-responsive.png) lightgray center center/auto no-repeat;
    background-blend-mode: multiply;
    background-attachment: fixed;
    overflow: hidden;
  }
  .header-orange,
  .header-red,
  .header-yellow {
    display: none;
  }
}
@media (max-width: 768px) {
  .mobile-carousel-img {
    width: 100%;
    height: 460px;
    display: none;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .mobile-carousel-img.active {
    display: block;
  }
}
.mobile-carousel-img {
  display: none;
}

.galleryLibrary {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 28px 0;
  align-items: baseline;
  background-color: #f7f7f7;
}
.footer__container {
  display: contents;
  flex-direction: column;
  flex: 0 1 320px;
}
.footer__text {
  color: #545454;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.students-link {
  text-decoration: underline;
  color: #545454;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.students-link:hover {
  cursor: pointer;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon-Group {
  width: 1.0771484375em;
}

.svg-close {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5); /* Fundal semitransparent */
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.modal-content {
  width: 40%;
  background-color: #212529; /* Fundal negru */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modal-header {
  color: #ffc107; /* Text portocaliu */
  margin-bottom: 15px;
}

.modal-header:hover {
  filter: drop-shadow(0 0 0.75rem #ffc107);
}

.modal-list {
  list-style: none;
  padding: 0;
}

.inlink {
  color: #ffc107; /* Linkuri portocalii */
  text-decoration: none;
}

.inlink:hover {
  filter: drop-shadow(0 0 0.75rem #ffc107);
}

.inlink svg {
  fill: #ffc107; /* Iconițe portocalii */
}

.close {
  background: none;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.close:hover {
  filter: drop-shadow(0 0 0.75rem #ffc107);
}

.svg-close {
  fill: #ffc107; /* Iconiță de închidere portocalie */
}

@media screen and (max-width: 768px) {
  .footer__container {
    display: block;
    margin-left: 65px;
  }
  .rights-reserved {
    margin-left: 23px;
  }
}/*# sourceMappingURL=my-library.css.map */