<footer class="footer">
  <div class="inner-container footer__container">
    <div class="rights-reserved">
      <p class="footer__text">&copy 2023 | All rights reserved |</p>
    </div>
    <div class="developers">
      <span class="footer__text"
        >Developed with
        <span>
          <svg class="icon icon-Group">
            <use href="/src/images/icons.svg#icon-Group"></use>
          </svg>
        </span>
        by
      </span>
      <a class="footer_text students-link" id="request_button">GoIT Students</a>
    </div>
  </div>
  <div class="modal">
    <div class="modal-content">
      <h1 class="modal-header">Contribuitors</h1>
      <ul class="modal-list">
        <li class="social-class">
          <a
            class="inlink"
            href="https://www.linkedin.com/in/roxana-nec%C8%99oi-318499262/"
            target="_blank"
          >
            Necsoi Roxana Maria
            <svg width="20" height="20">
              <use href="/src/images/icons.svg#icon-linkedin-svgrepo-com"></use>
            </svg>
          </a>
        </li>
        <li class="social-class">
          <a
            class="inlink"
            href="https://www.linkedin.com/in/oana-suciu-76495118a?trk=contact-info"
            target="_blank"
          >
            Suciu Oana-Luciana
            <svg width="20" height="20">
              <use href="/src/images/icons.svg#icon-linkedin-svgrepo-com"></use>
            </svg>
          </a>
        </li>
        <li class="social-class">
          <a
            class="inlink"
            href="https://www.linkedin.com/in/valeria-h-9a5622180?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"
            target="_blank"
          >
            Valeria Harcaian
            <svg width="20" height="20">
              <use href="/src/images/icons.svg#icon-linkedin-svgrepo-com"></use>
            </svg>
          </a>
        </li>
        <li class="social-class">
          <a
            class="inlink"
            href="https://www.linkedin.com/in/adrian-secara-254ba3312/"
            target="_blank"
          >
            Secara Adrian-Ioan
            <svg width="20" height="20">
              <use href="/src/images/icons.svg#icon-linkedin-svgrepo-com"></use>
            </svg>
          </a>
        </li>
        <li class="social-class">
          <a
            class="inlink"
            href="https://www.linkedin.com/in/lewy-popescu-97a0a5309"
            target="_blank"
          >
            Levi Popescu
            <svg width="20" height="20">
              <use href="/src/images/icons.svg#icon-linkedin-svgrepo-com"></use>
            </svg>
          </a>
        </li>

        <li class="social-class">
          <a
            class="inlink"
            href="https://www.linkedin.com/in/cristian-redes-56ba0130a/"
            target="_blank"
          >
            Redes Cristian
            <svg width="20" height="20">
              <use href="/src/images/icons.svg#icon-linkedin-svgrepo-com"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button type="button" class="close">
        <svg class="svg-close" width="30" height="30">
          <use href="/src/images/icons.svg#icon-cross"></use>
        </svg>
      </button>
    </div>
  </div>
</footer>
