<footer class="footer">
  <div class="inner-container footer__container">
    <div class="rights-reserved">
      <p class="footer__text">&copy 2023 | All rights reserved |</p>
    </div>
    <div class="developers">
      <span class="footer__text"
        >Developed with
        <span>
          <svg class="icon icon-Group">
            <use href="/src/images/icons.svg#icon-Group"></use>
          </svg>
        </span>
        by
      </span>
      <a class="footer_text students-link" id="request_button">GoIT Students</a>
    </div>
  </div>
  <div class="modal">
    <div class="modal-content">
      <ul>
        <li>Necșoi Roxana Maria</li>
        <li>Suciu Oana-Luciana</li>
        <li>Valeria Harcaian</li>
        <li>Secara Adrian-Ioan</li>
        <li>Lewy Popescu</li>
        <li>Redes Cristian</li>
      </ul>
      <button type="button" class="close">
        <svg class="icon icon-switch">
          <use href="/src/images/icons.svg#icon-switch"></use>
        </svg>
      </button>
    </div>
  </div>
</footer>
