<div class="backdrop">
  <div class="container-pagination">
    <div class="pagination">
      <span class="page-btn page-step prev" data-shown="1">&laquo;</span>
      <a href="#page-1" id="page-1" class="page-btn">1</a>
      <a href="#page-2" id="page-2" class="page-btn">2</a>
      <a href="#page-3" id="page-3" class="page-btn">3</a>
      <a href="#page-4" id="page-4" class="page-btn">4</a>
      <a href="#page-5" id="page-5" class="page-btn">5</a>
      <span class="page-btn page-step next" data-shown="5">&raquo;</span>
    </div>
  </div>
</div>
